@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --nav-color: #19328A;
  --nav-color2: #d94b18;
}

a {
  text-decoration: inherit;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}